<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            
            <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/50/000000/external-sneakers-healthy-lifestyle-icongeek26-flat-icongeek26.png"/>
            
            <p class="nombre">International Shoes</p>
               
            <nav>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y ofertas</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <ul class="encabezado">
                    <li class="paginas"><a href="#">PRODUCTOS</a></li>
                    <li class="paginas"><a href="#">SERVICIOS</a></li>
                    <li class="paginas"><a href="#">NOSOTROS</a></li>
                    <li class="paginas"><a href="#">AYUDA</a></li>
                    <li class="paginas"><a href="#">CONTACTO</a></li>
                    <li class="paginas"><a href="/register"><i class="fas fa-user-alt"></i></a></li>
                    
                    <!-- EL CARRITO APARECERÁ COMO UN ICONO FIJO EN LA PARTE DE ABAJO A LA DERECHA DE LA PAGINA Y SE TRASLADARÁ CON EL MOVIEMIENTO DE LA PÁGINA -->
                </ul>
            </nav>
    
    
        </div>
    </header>

    <main>
         <form action="/" method="post">
         <input action="text" name="user" placeholder="Nombre de usuario">
         <input type="text" name="pass" placeholder="Ingrese su contraseña">
         <input type="boton-envio" type="submit" value="Enviar">

        </form>
        <p><a href="#">¿Olvidó su contraseña?</a>
            <i>             </i>
            <a href="#">Registrate</a></p>
    </main>

</body>  