<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/50/000000/external-sneakers-healthy-lifestyle-icongeek26-flat-icongeek26.png"/>
            <p class="nombre">International Shoes</p>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y ofertas</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <nav class="navbar-header">
                <ul class="encabezado">
                    <li class="paginas"><a href="#">PRODUCTOS</a></li>
                    <li class="paginas"><a href="#">ENVIOS</a></li>
                    <li class="paginas"><a href="#">AYUDA</a></li>
                    <li class="paginas"><a href="#">CONTACTO</a></li>
                </ul>
                <ul class="navbar-rigth">
                    <li class="paginas"><a href="/registro">Registrate <i class="fas fa-user-alt"></i></a></li>
                    <li class="paginas"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="paginas"><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="detalleProducto">
        <div class="imagenProducto">
            <img src="https://cdn.allbirds.com/image/upload/f_auto,q_auto,w_1110/cms/2VylWd72lGoKsvQwAuYDoo/c09e2fb9facacab72f358fe26e729bd4/AA0001M_SHOE_LEFT_GLOBAL_MENS_WOOL_MIZZLE_DASHER_LYRA_LIGHTGRAY.png" alt="">
        </div>

        <div class="detalle">
            <h2>NOMBRE DEL PRODUCTO</h2>
            <div class="descripcion">
                <h2>DESCRIPCIÓN</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magni dolorum optio quis veritatis itaque nostrum fuga nemo sint similique. Deleniti harum distinctio, asperiores recusandae nobis error! Voluptatum, odit dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi esse libero dolorum ducimus ea. Illo voluptatibus omnis, saepe asperiores reiciendis doloribus aspernatur! Placeat rerum ex veritatis optio magni dolorum aliquid?</p>
            </div>
        
            <label for="">Total {{ precio }}</label>
            <div class="talles">
                <label for="talles">Talle {{ talle }}</label>
            </div>
            <div>
                <select name="talles" id="talles" class="talless">
                    <option value>Elegí una opción...</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="49">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
            </div>
            <nav>
                <a href="/carrito"><button type="submit" class="botonCompra">AGREGAR AL CARRITO <i class="fas fa-shopping-cart"></i></button></a>
            </nav>
        </div>

    </div>
    <footer>
        <div class="caja-1">
            <div class="caja-2">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Tipo de cambio</a></li>
                    <li><a href="#">Tabla de talles</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="Redes">
                <article><i class="fab fa-instagram"></i></article>
                <article><i class="fab fa-facebook-square"></i></article>
                <article><i class="fab fa-telegram-plane"></i></article>
                <article><i class="fab fa-whatsapp"></i></article>
            </div>
            <div class="caja-4-1">
                <ul>
                    <li><a href="#">Site by IS Agency</a></li>
                    <li><strong> Copyright © 2021-2022</strong></li>
                </ul>
            </div>
            <div class="caja-4-2">
                <ul>
                    <li><a href="#"> Terminos y Condiciones |</a></li>
                    <li><a href="#" style="margin: 5px;"> Politica de Privacidad </a></li>
                    <li><a href="#">| Legales</a></li>
                </ul>
            </div>
            <div class="medios-de-pago-logos">
                <article><i class="fab fa-cc-visa"></i></article>
                <article><i class="fab fa-cc-mastercard"></i></article>
                <article><i class="fab fa-cc-amex"></i></article>
                <article><i class="fab fa-cc-paypal"></i></article>
                <article><i class="fab fa-bitcoin"></i></article>
            </div>
        </div>
    </footer>
</body>
