<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            
            <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/50/000000/external-sneakers-healthy-lifestyle-icongeek26-flat-icongeek26.png"/>
            
            <p class="nombre">International Shoes</p>
               
            <nav>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y ofertas</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <ul class="encabezado">
                    <li class="paginas"><a href="#">PRODUCTOS</a></li>
                    <li class="paginas"><a href="#">SERVICIOS</a></li>
                    <li class="paginas"><a href="#">NOSOTROS</a></li>
                    <li class="paginas"><a href="#">AYUDA</a></li>
                    <li class="paginas"><a href="#">CONTACTO</a></li>
                    <li class="paginas"><a href="/login">LOGIN    <i class="fas fa-user-alt"></i></a></li>
                </ul>
            </nav>
    
        </div>
    </header>

    <main class="register">
        <form action="/" method="POST">
            <input class="registro" type="text" name="name" placeholder="NOMBRES">
            <input  class="registro" type="text" name="lastname" placeholder="APELLIDOS">
            <input class="registro"  type="text" name="user" placeholder="NOMBRE DE USUARIO">
            <input  class="registro" type="email" name="email" placeholder="E-MAIL">
            <input class="registro"  type="email" name="email" placeholder="REPETIR E-MAIL">
            <br>
            <label for="birth_date"><b>FECHA DE NACIMIENTO</b></label>
            <br>
            <input  class="registro" type="date" name="birth_date" id="birth_date">
            <br>
            <input  class="registro" type="text" name="country" placeholder="PAIS">
            <input  class="registro" type="text" name="province" placeholder="PROVINCIA">
            <input  class="registro" type="text" name="city" placeholder="CIUDAD">
            <input  class="registro" type="text" name="addres" placeholder="DOMICILIO">
                     
            <h4>ELEGÍ TU FOTO DE PERFIL</h4>
            <input class="registro"  type="file" name="avatar">
            <br>
            <br>
            <input  class="registro" type="password" name="pass" placeholder="Elegí tu contraseña">
            <input  class="registro" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
            <br>
            <input class="boton"  type="submit" value="Enviar">
            <input class="boton"  type="reset" value="Borrar">

</body>  