/*CSS del carrito de compras*/

.carrito{
    width: 100%;
    min-height: 100%;
    background-color: #b97676;
    padding: 30px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;    
}

.items {
    display: grid;
}
.talle{
    color: black;
}
.cantidad, .total{
    border: dashed 2px #DDDDDD;
    border-radius: 2px;
    height: 36px;
}
.cantidad{
    height: 37px;
}

.item{
    background-color: #F2F2F2;
    max-width: 660px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px 5px 30px;
    padding: 20px 20px 20px 20px;
}
.grid-cont {
    display: grid;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
}
.fa-trash-alt{
    margin-top: 30px;
    margin-left: 12px;
}

.borrar > .fa-trash-alt{
    margin-top: 0px;
    margin-left: 0px;
}
.btn-subm-compra{
    background-color: #a37070;
    border: 2px solid #DCDCDC;
    color: aqua;
    border-radius: 22px;
    width: 214px;
    height: 44px;
    margin-top: 7px;
}

.finalizar-compra{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
}

.compra-form{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finalizar-compra > form > input{
    background-color: #FFFFFF;
    border: 2px solid #C8C8C8;
    border-radius: 3px;
    width: 214px;
    height: 29px;
    margin: 7px 0 7px 0;
    text-align: left;
    padding-left: 6px;
}

@media (min-width: 210px) {    
    .item{
        flex-wrap: wrap;
    }
}
