/*PRODUCTO */
.detalleProducto{
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.imagenProducto{
    margin-left: 20px;
    left: 0;
    width: 50%;
    background-color: rgb(211, 211, 211);
}

.imagenProducto img {
    display: block;
    padding: 5px;
    margin: auto;
    width: 50%;
    height: auto;
}

.detalle{
    padding-top: 10px;
    padding-left: 15px;
    right: 0;
    width: 40%;
    float: right;
}
.descripcion p{
    font-weight: normal;
    padding: 5px;
}

.talles{
    color: black;
    font-weight: bolder;
    border-top: 3px solid black;
    display: grid
}

.botonCompra{
    color: black;
    font-weight: 900;
    background-color: #F7F7F7;
    border: 2px solid #DCDCDC;
    border-radius: 22px;
    width: 214px;
    height: 44px;
}

.fa, .fas {
    font-weight: 900;
    color: crimson;
    font-size: initial;
}

.alert {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7; 
    font-size: large;
    font-family: sans-serif;   
}


@media (min-width: 210px) {    
    .detalleProducto{
        flex-wrap: wrap;
    }
}


@media (max-width: 1024px) {    
    .detalle {
        width: 95%;
    }
}