*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
}
body{
    height: 100%;
    font-family: 'Barlow', sans-serif;
    background: linear-gradient(to right, #000000,#700600,#B00900,#B01244,#D60B00, #FFF);
  /*   background-color: whitesmoke; */
}

div.top-header{
    padding:  20px;
    font-size: 12px;
    text-align: center;
}

p.nombre{
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue',cursive;
    text-align: justify;
    /* padding-bottom: 15px;
    font-weight: bolder; */
}

header section img{
    display:block;
    margin:auto;
    width: 25%;        
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    }
    
header ul li{
    text-align: center;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 0px;
    border: grey;
    border-style: outset;
    width: 80%;
    
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15px;
    

}
header .form{
box-sizing: border-box;
display: flex;
align-items: center;
padding: 2px;
font-size: 12px;
margin-bottom: 0px;
margin-left: 15%;
}
.paginas{
    margin: 6px;
    border: solid;
    border-style:outset;
    border-color: grey;
    margin: 0 30% 3px 30%;

}


header div.top-header p{
    text-align: center;
   /*  margin-top: 10px; */
}

.encabezado{
    padding: 10px;

}

header {
    display: block;
    box-sizing: border-box;

}

main{
    background-color:linear-gradient(to right, #000000,#D95607, #D91907,#F80738,#ffff);
    align-items: center;
    text-align: center;
}
.login{
    width: 170px;
    border-color:slategrey;
    border-style: outset;
    border-radius: 3;
}
input{
    border-radius: 2%;
    border-color: #000;
    border-style:outset ;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 3% 0 5% 0;
}

.caja-4-2 ul{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.caja-4-1 ul li{
    margin: 5px;
    
}

.caja-2 ul li{
    margin: 5px; 
}

footer ul li{
    list-style-type: none;
  
}

footer ul li a{
    text-decoration: none;
    color: #FFF;
    
}

/* ICONOS ESTILOS */
div article {
    margin: 5px 10px;
}
article i{
    font-size: 20px;
    border-radius: 5px; 
    border: 2px outset #D4D4D4;
    padding: 5px;
}
article {
  display:inline-block ;
  justify-content: center;
  
  }

  .medios-de-pago-logos i{
      font-size: 50px;
  }

  @media (min-width:425px){
    
  }


/*REGISTRO */

.registro{
    display: block;
    margin: 10px auto;
    border-radius: 3px;
    border-color: slategrey;
    border-style: outset;
    width: 80%;
    block-size: 25px;

}
.boton{
    width: 50px;
    block-size: 25px;
}
main .register{
    display: block;
}

/*PRODUCTO */
.detalleProducto{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.imagenProducto{
    left: 0;
    background-color: rgb(211, 211, 211);
}

.imagenProducto img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.detalle{
    right: 0;
    width: 40%;
    float: right;
}

.talles{
    border-top: 3px solid black;
    display: grid
}

.botonCompra{
    background-color: #F7F7F7;
    border: 2px solid #DCDCDC;
    border-radius: 22px;
    width: 214px;
    height: 44px;
}
@media (min-width: 210px) {    
    .detalleProducto{
        flex-wrap: wrap;
    }
}


@media (max-width: 1024px) {    
    .detalle {
        width: 95%;
    }
}