*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
}
body{
    height: 100%;
    font-family: 'Barlow', sans-serif;
    background-color: whitesmoke;
}

div.top-header{
    padding: 5%;
    font-size: 12px;
    text-align: center;
}

p.nombre{
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding-bottom: 15px;
    font-weight: bolder;
}

header img{
    display:block;
    margin:auto;
    width: 30%;
        
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: whitesmoke;
    }
header ul li{
    text-align: center;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 0px;
    border: grey;
    border-style: outset;
    width: 80%;
    
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15px;
    

}
header .form{
box-sizing: border-box;
display: flex;
align-items: center;
padding: 2px;
font-size: 12px;
margin-bottom: 0px;
margin-left: 15%;
}
.paginas{
    margin: 6px;
    border: solid;
    border-style:outset;
    border-color: grey;
    margin: 0 30% 3px 30%;

}


header div.top-header p{
    text-align: center;
    margin-top: 10px;
}

.encabezado{
    padding: 10px;

}

header {
    display: block;
    box-sizing: border-box;

}

main{
    background-color: lightgray;
    align-items: center;
    text-align: center;
    padding: 2% 0px 100% 0px;
}
.login{
    width: 170px;
    border-color:slategrey;
    border-style: outset;
    border-radius: 3;
}
input{
    border-radius: 2%;
    border-color: #000;
    border-style:outset ;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
}

/* .caja-1{
    margin: 10px;
} */

.caja-4-2 ul{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.caja-4-1 ul li{
    margin: 5px;
    
}

.caja-2 ul li{
    margin: 5px; 
}

footer ul li{
    list-style-type: none;
  
}

footer ul li a{
    text-decoration: none;
    color: #FFF;
    
}

/* ICONOS ESTILOS */
div article {
    margin: 5px 10px;
}
article i{
    font-size: 20px;
    border-radius: 5px; 
    border: 2px outset #D4D4D4;
    padding: 5px;
}
article {
  display:inline-block ;
  justify-content: center;
  
  }

  .medios-de-pago-logos i{
      font-size: 50px;
  }


/*Carrito*/
.carrito{
    width: 100%;
    min-height: 100%;
    background-color: white;
    padding-top: 30px;
}

.cantidad, .total{
    border: dashed 2px #DDDDDD;
    border-radius: 2px;
    width: 65px;
    height: 33px;
}
.cantidad{
    height: 37px;
}

.item{
    background-color: #F2F2F2;
    max-width: 660px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px 5px 30px;
    padding: 20px 20px 20px 20px;
}
.grid-cont {
    display: grid;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.fa-trash-alt{
    margin-top: 30px;
    margin-left: 12px;
}
.btn-subm-compra{
    background-color: #F7F7F7;
    border: 2px solid #DCDCDC;
    border-radius: 22px;
    width: 214px;
    height: 44px;
}

.finalizar-compra{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.compra-form{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finalizar-compra > form > input{
    background-color: #FFFFFF;
    border: 2px solid #C8C8C8;
    border-radius: 3px;
    width: 214px;
    height: 29px;
    margin: 7px 0 7px 0;
    text-align: left;
    padding-left: 6px;
}

@media (min-width: 210px) {    
    .item{
        flex-wrap: wrap;
    }
}

/*REGISTRO */

.registro{
    display: block;
    margin: 10px auto;
    border-radius: 3px;
    border-color: slategrey;
    border-style: outset;
    width: 80%;
    block-size: 25px;

}
.boton{
    width: 50px;
    block-size: 25px;
}
main .register{
    display: block;
}
