<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head> 

   <%- include("./partials/nav")  %> 
<body>

    <main class="register">

        <div class="center">
            <h1>Se ha producido un error</h1>
            <h2><%= error %></h2>
        </div>
        
    </main>
    
    <%- include("./partials/footer") %>
    
</body>
</html>