<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head> 

   <%- include("./partials/nav")  %> 
<body>
    <h1>UPSS, you have an error! :(</h1>
   
    <p><%= error %> </p>

    <%- include("./partials/footer") %>
    
</body>
</html>