<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <section class="banner">
        <img src="imagenes/banner-zapa-2.jpg" alt="">
    </section>
    <main>

        <section class="ofertas">
            <h3 class="titulo">OFERTAS IMPERDIBLES</h3>
            <div class="productos">

                <article>
                    <a href="/producto"><img src="imagenes/zapa-1.jpg" width="300" alt=""></a>
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">230 USD</p>
                        <h4 class="descripcion">All blue and white</h4>

                    </div>
                </article>

                <article>
                    <img src="imagenes/zapa-2.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">250 USD</p>
                        <h4 class="descripcion">Black and white</h4>

                </article>

                <article>
                    <img src="imagenes/zapa-3.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">400 USD </p>
                        <h4 class="descripcion"> Nike Jordan Purple</h4>

                </article>

                <article>
                    <img src="imagenes/zapa-4.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">250 USD</p>
                        <h4 class="descripcion">Adidas Red Line</h4>
                </article>

                <article>
                    <img src="imagenes/zapa-5.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">230 USD</p>
                        <h4 class="descripcion">All black</h4>
                </article>

                <article>
                    <img src="imagenes/zapa-6.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">350 USD</p>
                        <h4 class="descripcion">Sneakers Louis Vuitton</h4>
                </article>

                <article>
                    <img src="imagenes/zapa-7.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">400 USD</p>
                        <h4 class="descripcion">Nike Air Jordan Blue</h4>
                </article>

                <article>
                    <img src="imagenes/zapa-8.jpg" width="300" alt="">
                    <div class="articulo">
                        <i class="fas fa-plane"></i>
                        <p class="precio">300 USD</p>
                        <h4 class="descripcion">Adidas running all purple</h4>
                </article>
            </div>

        </section>

        <section>
            <article class="banner-off">
                <figure><img src="imagenes/banner-zapa.jpg" width="100%" alt=""></figure>
            </article>
        </section>
        <div class="container">
  
            <ul class="slider">
              <li id="slide1">
                <img src="imagenes/zapa-4.jpg" />
              </li>
              <li id="slide2">
                <img src="imagenes/zapa-1.jpg" />
              </li>
              <li id="slide3">
                <img src="imagenes/zapa-3.jpg" />
              </li>
            </ul>
            
            <ul class="menu">
              <li>
                <a href="#slide1">Adidas</a>
              </li>
              <li>
                <a href="#slide2">Nike</a>
              </li>
               <li>
                <a href="#slide3">Jordan</a>
              </li>
            </ul>
            
          </div>
        
    </main>
 <%- include("./partials/footer") %>

</body>

</html>