<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>
    <h1>Crear un producto</h1>

    <form action="/productos/guardar" enctype="multipart/form-data" method="post">
        <fieldset>
            <label for="name">Nombre</label>
                <input type="text" name="name" id="name">
        </fieldset>
        <fieldset>
            <label for="descripcion">Descripcion</label>
                <textarea name="description" id="" cols="30" rows="10" id="descripcion"></textarea>
        </fieldset>
        <fieldset>
            <label for="price">Precio</label>
                <input type="number" name="price" id="price">
        </fieldset>
        <fieldset><label for="stock">Stock</label>
            <input type="range" name="stock" id="stock" min="1" max="20" step="1" value="0"
                oninput="document.getElementById('tStock').innerHTML = this.value" />
            <label id="tStock"></label>
        </fieldset>
        <fieldset><label for="product">Imagen</label>
            <input type="file" name="product" id="product" >
        </fieldset>
        <fieldset>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>

    <%- include("../partials/footer") %>

</body>
</html>