<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>

<main class="add">
    <div class="center">
        <h1>Crear un producto</h1>
        <% if (locals.errors) { %>
            <div class="alert" >
                <% errors.forEach( error => { %> 
                    <p><%= error.msg %></p>
                <% } ) %>
            </div>
        <% } %>
        <form action="/productos/guardar" enctype="multipart/form-data" method="POST">
            <fieldset>
                <label for="marca">Marca</label>
                <select name="marca" id="marca">
                    <option value="Louis Vuitton">Louis Vuitton</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Nike">Nike</option>
                    <option value="Acme">Acme</option>
                    <option value="Patoruzito">Patoruzito</option>
                </select>
            </fieldset>
            <fieldset class="field_flex">
                <label for="nombre">Nombre/Modelo</label>
                    <input type="text" name="nombre" class="input_modelo" id="nombre">
            </fieldset>
            <fieldset>
                <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" id="" cols="30" rows="10" id="descripcion"></textarea>
            </fieldset>

            <fieldset>
                <label for="">Talles disponibles</label>
                    <input type="checkbox" id="s" name="talle" value="S/38">
                    <label for="s">S</label>
                    <input type="checkbox" id="m" name="talle" value="M/39">
                    <label for="m">M</label>
                    <input type="checkbox" id="l" name="talle" value="L/40">
                    <label for="l">L</label>
                    <input type="checkbox" id="xl" name="talle" value="XL/41">
                    <label for="xl">XL</label>
                    <input type="checkbox" id="xxl" name="talle" value="XXL/42">
                    <label for="xxl">XXL</label>
            </fieldset>

            <fieldset>
                <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio">
            </fieldset>
            <fieldset><label for="stock">Stock</label>
                <input type="range" name="stock" id="stock" min="1" max="20" step="1" value="0"
                    oninput="document.getElementById('tStock').innerHTML = this.value" />
                <label id="tStock"></label>
            </fieldset>
            <fieldset class="field_flex"><label for="imagen">Imagen</label>
                <input type="file" name="imagen" class="input_modelo" id="imagen"/>
            </fieldset>
            <fieldset>
                <br>
                <button class="btn-submit" type="submit">Guardar</button>
            </fieldset>
        </form>    
    </div>    
</main>



    <%- include("../partials/footer") %>

</body>
</html>