<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>

<main class="add">
    <div class="center">
        <h1>Crear un producto</h1>
        <% if (locals.errors) { %>
            <div class="alert" >
                <% errors.forEach( error => { %> 
                    <p><%= error.msg %></p>
                <% } ) %>
            </div>
        <% } %>
        <form action="/productos/guardar" id="createOrEdit" enctype="multipart/form-data" method="POST">
            <fieldset>
                <label for="marca">Marca</label>
                <select name="marca" id="marca">
                    <option value="Louis Vuitton">Louis Vuitton</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Nike">Nike</option>
                    <option value="Acme">Acme</option>
                    <option value="Patoruzito">Patoruzito</option>
                </select>
            </fieldset>
            <fieldset class="field_flex">
                <label for="nombre">Nombre/Modelo</label>
                    <input type="text" name="nombre" class="input_modelo" id="nombre">
                    <p id="errorName" class="alert" ></p>
            </fieldset>
            <fieldset>
                <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" cols="30" rows="10" id="descripcion"></textarea>
                    <p id="errorDesc" class="alert" ></p>
            </fieldset>

            <fieldset>
                <label for="">Talles disponibles</label>
                    <input type="checkbox" id="38" name="talle" value="10">
                    <label for="38">38</label>
                    <input type="checkbox" id="39" name="talle" value="11">
                    <label for="39">39</label>
                    <input type="checkbox" id="40" name="talle" value="12">
                    <label for="40">40</label>
                    <input type="checkbox" id="41" name="talle" value="13">
                    <label for="41">41</label>
                    <input type="checkbox" id="42" name="talle" value="14">
                    <label for="42">42</label>
                    <input type="checkbox" id="43" name="talle" value="15">
                    <label for="43">43</label>
            </fieldset>

            <fieldset>
                <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio">
            </fieldset>
            <fieldset><label for="stock">Stock</label>
                <input type="range" name="stock" id="stock" min="1" max="20" step="1" value="0"
                    oninput="document.getElementById('tStock').innerHTML = this.value" />
                <label id="tStock"></label>
            </fieldset>
            <fieldset class="field_flex">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" class="input_modelo" id="imagen"/>
                <p id="errorImage" class="alert" ></p>
            </fieldset>
            <fieldset>
                <br>
                <button class="btn-submit" type="submit">Guardar</button>
            </fieldset>
        </form>    
    </div>    
</main>



    <%- include("../partials/footer") %>

</body>
</html>