<header>
    <nav>
        <ul>
            <section class="logo"><img src="/imagenes/Crop_brand.svg" alt=""></section>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="/productos/">PRODUCTOS</a></li>
                <!--<li><a href="#">ENVIOS</a></li>-->
                <li><a href="/productos/nuevo">Nuevo producto</a></li>
                <li><a href="/productos/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
                <!--<li><a href="#">CONTACTO</a></li>-->

                <% if (locals.isLogged) { %>
                    <li><a href="/users/perfil">¡Hola <%= locals.usuarioLogueado.first_name %>! </a></li>
                    <li><a href="/users/perfil">Mi perfil <i class="fas fa-user-alt"></i></a></li>
                    <li><a href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a></li>                 
                <% } else { %>
                    <li><a href="/users/registro">Registrate <i class="fas fa-user-alt"></i></a></li>
                    <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>                
                <% } %>

            </div>
            <form class=formulario action="/productos/" method="get">
                <input type="text" name="search" id="search" placeholder="Búsqueda por marca">
                <button type="submit" id="buscar">Buscar <span class="fas fa-search"></span> </button>
            </form>
    </nav>
</header>