<header>
    <nav>
        <ul>
            <li class="logo"><img src="imagenes/Logo-IS-transp.svg" alt="">International Shoes</li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">ENVIOS</a></li>
                <li><a href="#">AYUDA</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="/registro">Registrate <i class="fas fa-user-alt"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
            </div>
            <form action="/productos/" method="get">
                <input type="text" name="search" id="search" placeholder="Búsqueda">
                <button type="submit">Buscar <span class="fas fa-search"></span> </button>
            </form>

            <!--<li class="search-icon">
                
                <label class="icon">
                
                </label>
            </li>
        </ul>-->
    </nav>
  
   <!--  <div class="top-header">
        <section>
            <img src="imagenes/Logo-IS-transp.svg" alt="">
        </section>
        <p class="nombre">International Shoes</p>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y ofertas</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="navbar-header">
            <ul class="encabezado">
                <li class="paginas"><a href="#">PRODUCTOS</a></li>
                <li class="paginas"><a href="#">ENVIOS</a></li>
                <li class="paginas"><a href="#">AYUDA</a></li>
                <li class="paginas"><a href="#">CONTACTO</a></li>
            </ul>
            <ul class="navbar-rigth">
                <li class="paginas"><a href="/registro">Registrate <i class="fas fa-user-alt"></i></a></li>
                <li class="paginas"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="paginas"><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </nav>
    </div> -->
</header>