<header>
    <div class="top-header">
        <section>
            <img src="imagenes/Logo-IS-transp.svg" alt="">
        </section>
        <p class="nombre">International Shoes</p>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y ofertas</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="navbar-header">
            <ul class="encabezado">
                <li class="paginas"><a href="#">PRODUCTOS</a></li>
                <li class="paginas"><a href="#">ENVIOS</a></li>
                <li class="paginas"><a href="#">AYUDA</a></li>
                <li class="paginas"><a href="#">CONTACTO</a></li>
            </ul>
            <ul class="navbar-rigth">
                <li class="paginas"><a href="/registro">Registrate <i class="fas fa-user-alt"></i></a></li>
                <li class="paginas"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="paginas"><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </nav>
    </div>
</header>