<!DOCTYPE html>
<html lang="en">
    
  <%- include("../partials/head") %>

<body>
  <div>
  <%- include("../partials/nav") %>
</div>
  <main>
    <section id="login">   
    <div class="center">
      <h1>Acceso</h1>
      <form action="/users/auth" method="post">
        <div class="texto">
          <input method="post" type="text" name="user" required>
          <span></span>
          <label>Usuario</label>
        </div>
        <div class="texto">
          <input method="post" type="password" name="password" required>
          <span>
            <% if (locals.errors && errors.email) { %>
              <div><%= errors.email.msg %> </div>
             <% } %>
          </span>
          <label>Contraseña</label>
        </div>
        <input type="checkbox" name="remember_user" id="remember_user"><label> Recordar</label>
        <input type="submit" value="Login" method="get">
        <div class="pas">Olvidé mi contraseña<a href="#"></a></div>
        <div class="link_registro"><a href="/registro">Registrate</a></div>
      </form>
    </div>
  </section>
  </main>
    
  <%- include("../partials/footer") %>
</body>  