<!DOCTYPE html>
<html lang="en">
    
  <%- include("../partials/head") %>

<body>
    <%- include("../partials/nav") %>
     <!-- EL CARRITO APARECERÁ COMO UN ICONO FIJO EN LA PARTE DE ABAJO A LA DERECHA DE LA PAGINA Y SE TRASLADARÁ CON EL MOVIEMIENTO DE LA PÁGINA -->

    <main>
         <form action="/" method="post">
         <div><input class="login" action="text" name="user" placeholder="Nombre de usuario"></div>
         <div><input class="login" type="password" name="pass" placeholder="Ingrese su contraseña"></div>
         <div><input class="login" type="submit" value="Enviar"></div>

        </form>
        <p><a href="#">¿Olvidó su contraseña?</a></p>
            
            <p><a href="/registro">Registrate</a></p>
    </main>
    <%- include("../partials/footer") %>
</body>  